html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  min-width: 320px;
  position: relative;
  line-height: 22px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none;
    display-padding: 5px; }

.container {
  padding-left: 27px;
  padding-right: 38px; }

section {
  margin: 86px 0; }

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center; }

h3 {
  font-weight: 700;
  line-height: 37px;
  text-transform: uppercase; }

.hr {
  width: 100px;
  height: 5px;
  background-color: #7981c9;
  margin: 6px auto 0; }

.center {
  text-align: center; }

.top_line {
  border-bottom: 1px solid #dad5d5; }

.social {
  text-align: right;
  padding: 5px 0; }
  .social li {
    display: inline-block;
    margin-left: 17px; }
  .social i {
    color: #7a7a7a;
    font-size: 22px;
    vertical-align: middle; }
    .social i.fa-behance {
      font-size: 18px; }

.logo h1 {
  font-size: 46px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0 24px; }

header {
  margin: 25px 0; }

ul.nav {
  text-align: right; }
  ul.nav li {
    display: inline-block;
    margin-left: 42px; }
    ul.nav li:first-child {
      margin-left: 0px; }
    ul.nav li:last-child {
      margin-left: 10px; }
    ul.nav li a {
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      color: #282930; }

.owl-carousel {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  ovefrlow: hidden; }
  .owl-carousel > div {
    max-height: 650px; }

.owl-dots {
  position: absolute;
  display: block;
  bottom: 4%;
  right: 47%; }
  .owl-dots .owl-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    opacity: 0.27;
    background-color: #9ea6ef;
    margin-left: 5px; }
    .owl-dots .owl-dot.active {
      background-color: #7981c9;
      opacity: 1; }

.owl-prev {
  background-image: url("../img/arrow_back.png");
  width: 51px;
  height: 78px;
  top: 50%;
  left: 2%;
  position: absolute;
  opacity: 0.2; }

.owl-next {
  background-image: url("../img/arrow_back.png");
  background-position: top right;
  width: 51px;
  height: 78px;
  top: 50%;
  right: 2%;
  position: absolute;
  opacity: 0.3; }

.owl-prev:hover,
.owl-next:hover {
  opacity: 0.8; }

.carousel_first {
  background: url("../img/carousel-img.jpg") no-repeat;
  background-size: cover;
  min-height: 728px;
  text-align: center; }
  .carousel_first span {
    display: block;
    text-transform: uppercase; }
    .carousel_first span:first-child {
      color: #a4a4a4;
      font-size: 18px;
      line-height: 48px;
      letter-spacing: 5px;
      padding-top: 164px; }
    .carousel_first span:last-of-type {
      color: white;
      font-size: 50px;
      font-weight: 700;
      line-height: 61px;
      padding-bottom: 92px; }
  .carousel_first .button {
    background-color: #7981c9;
    border-radius: 2px;
    color: white;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding: 12px 35px; }

.about {
  margin-top: 32px; }

.parent {
  line-height: 100px; }
  .parent img {
    vertical-align: middle; }

.booking {
  background: url("../img/booking-img.png") no-repeat;
  background-size: cover;
  text-align: center;
  max-height: 360px;
  margin-left: auto;
  margin-right: auto; }
  .booking .booking_bcg {
    background: rgba(27, 7, 7, 0.65); }
  .booking h3 {
    color: #babcbc;
    font-size: 28px;
    line-height: 30px;
    font-weight: 400;
    padding-top: 107px; }
  .booking hr {
    width: 100px;
    height: 2px;
    background-color: #babcbc;
    margin: 22px auto; }
  .booking .social {
    text-align: center;
    padding-bottom: 85px; }
    .booking .social i:hover {
      color: #7981c9; }

.menu_row:first-child {
  margin-top: 80px; }
.menu_row:last-child {
  margin-top: 30px; }
.menu_row img {
  max-width: 100%; }

.img-link {
  display: inline-block;
  position: relative; }
  .img-link .img {
    width: 100%;
    height: 100%; }

.cover-bg,
.cover-title,
.cover-list {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.img-link:hover .cover-bg,
.img-link:hover .cover-title,
.img-link:hover .cover-list {
  display: block; }

.img-link {
  position: relative; }
  .img-link .cover-list ul {
    list-style: none; }
  .img-link .cover-list li {
    padding: 15px;
    border: 2px solid #fff;
    position: absolute;
    top: 56%;
    left: 28%; }
    .img-link .cover-list li:last-child {
      left: 55%; }
    .img-link .cover-list li a {
      color: #fff; }
  .img-link .cover-list i {
    color: #fff;
    font-size: 28px;
    font-weight: 400; }

.cover-bg {
  background-color: rgba(121, 129, 201, 0.6);
  border: 1px solid white;
  padding: 10px; }

.cover-title {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding-top: 89px; }

.descr_header {
  margin: 104px 0 -76px;
  background: url("../img/meatballs2.jpg") no-repeat right center; }
  .descr_header p {
    margin-top: 27px; }
  .descr_header hr {
    margin: 11px auto 0; }
  .descr_header .about_item {
    margin: 47px auto 70px; }
    .descr_header .about_item p {
      margin-top: 0; }
  .descr_header .container:nth-child(2) .col-md-12:nth-child(1) .about_item {
    margin-left: 114px; }
  .descr_header .container:nth-child(2) .col-md-12:nth-child(3) .about_item {
    margin-left: 114px; }
  .descr_header .container:nth-child(2) .col-md-12:nth-child(4) .about_item {
    margin-left: 240px; }

.progress {
  background: url("../img/social-img.png") no-repeat;
  background-size: cover;
  text-align: center;
  max-height: 360px;
  margin-left: auto;
  margin-right: auto; }
  .progress .progress_bcg {
    background: rgba(27, 7, 7, 0.65); }

.progress_social li {
  display: inline-block;
  width: 350px;
  height: 300px;
  background-color: #7981c9; }
  .progress_social li:not(:last-child) {
    margin-right: 25px; }
  .progress_social li .fa {
    color: #fff;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 64px; }
  .progress_social li span {
    display: block;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 50px; }
    .progress_social li span:last-child {
      font-size: 35px;
      line-height: 19px; }

.contact .contact_row {
  text-align: center;
  margin: 42px auto 0; }
.contact p {
  margin-top: 22px;
  font-size: 14px;
  line-height: 30px; }
.contact .fa {
  color: #7981c9;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px; }
.contact span {
  display: block;
  color: #6d6e77;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px; }
.contact .contact_row:nth-child(2) {
  margin-top: 43px; }
.contact form {
  margin: 26px auto 0;
  position: relative; }
  .contact form button {
    background-color: #7981c9;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    padding: 1px 17px; }
.contact input {
  display: block;
  width: 100%;
  height: 32px;
  border: 1px solid #878787;
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 15px; }
  .contact input:not(:first-child) {
    margin-top: 13px; }
.contact textarea {
  text-align: left;
  border: 1px solid #878787;
  height: 122px;
  width: 100%;
  margin-bottom: 26px;
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 15px; }
.contact .button {
  clear: both; }
  .contact .button i {
    color: #fff;
    font-size: 17px; }

.block_center {
  float: none;
  margin: 0 auto; }

footer {
  background-color: #1b1b1b; }
  footer p {
    color: white;
    text-transform: uppercase;
    font-family: Roboto;
    line-height: 48px;
    padding: 67px 0 14px; }
  footer span {
    font-size: 28px;
    font-weight: 700;
    line-height: 30px; }

#back-top {
  width: 62px;
  height: 62px;
  background-color: #7981c9;
  border: 1px solid white;
  border-radius: 2px;
  position: absolute;
  left: 46%;
  bottom: -64%;
  z-index: 2; }
  #back-top a {
    display: block; }
  #back-top span {
    text-align: center; }
  #back-top i {
    color: #fff;
    line-height: 62px; }

/*# sourceMappingURL=main.css.map */
