/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.about_right {
		margin-left: 15px;
	}
	.menu_dish {
		padding-left: 15px;
	}
	.descr_header .container:nth-child(2) .col-md-12:nth-child(1) .about_item {
    margin-left: 0; }
  .descr_header .container:nth-child(2) .col-md-12:nth-child(3) .about_item {
    margin-left: 0; }
  .descr_header .container:nth-child(2) .col-md-12:nth-child(4) .about_item {
    margin-left: 0; }
    .descr_header .about_item {
    margin: 20px auto 20px; }
	.cover-title {
		padding-top: 50px
	}
	.img-link .cover-list li {
		padding: 10px;
	}

	.cover-title {
		font-size: 25px;

	}

	.img-link .cover-list i {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
		}
}

@media only screen and (max-width : 1110px) {
	.progress_social li {
		  width: 250px;
		  height: 250px;
		  background-color: #7981c9; }

	.progress_social li .fa {
	    color: #fff;
	    font-size: 60px;	  
	}
	.progress_social li span:last-child {
      font-size: 30px;
  }

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
	.logo h1 {
		margin: 0;
	}
	
	ul.nav {
		text-align: left;
		margin-top: 25px
	}
	.owl-dots {
		right: 50;
	}

	.about_right {
		margin-left: 0;
	}

	.about {
		margin-top: 0;
	}
	.about_item {
		margin-top: 20px;
	}

    .descr_header {
    	background: none;
    }
    textarea {
    	margin-top: 13px;
    }

    #back-top {
    	bottom: -37%;
    }

    .img-link .cover-list li {
		padding: 5px;
	}

	.cover-list i {
		font-size: 24px;
	}

	.cover-title {
		padding-top: 40px;
	}


}

@media only screen and (max-width : 810px) {
	.progress_social li {
		width: 100%;
		height: 100px;
		background-color: #7981c9; }

	.progress_social li .fa {
	    color: #fff;
	    font-size: 60px;
	    padding-top: 20px	  
	}

	 .progress_social li span {
    	display: inline-block;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.carousel_first span:last-of-type {
		font-size: 40px;
	}
	.menu_dish {
		text-align: center;
	}

	.menu_dish img {
		margin-top: 20px;
	}
	.menu_row:first-child {
		margin-top: 20px;
	}

	.menu_row:last-child {
		margin-top: 0;
	}

	.contact .contact_row {
		margin: 20px auto 0;
	}

	.cover-title {
		padding-top: 89px;
	}

	.img-link .cover-list li {
    padding: 15px;
    border: 2px solid #fff;
    position: absolute;
    top: 56%;
    left: 28%; }





	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}
@media only screen and (max-width : 600px) {
	.about_item {
		width: 100%;
		text-align: center;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.carousel_first span:first-child {
		padding-top: 40px;
	}

	ul.nav li{
		display: block;
		width: 50%;
		float: left;
		margin:0;
	}
	

	.carousel_first {
		padding: 0 10px;
	}


	ul.nav li:last-child
		{
			margin:0;
		}

	.social, header {
		text-align: center;
	}



}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}